body {
    background-color: rgba(73, 65, 56, 0.699);
}

header {
    text-align: center;
    margin:60px;
}

.card .img-fit {
    aspect-ratio: 16/9;
    object-fit: cover;
}

.card {
    height: 100%;
    margin-top: 60px;
}

.card-body {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.card-text {
    flex-grow: 1;
}

@media (max-width: 767.98px) {
    .card .img-fit{
        aspect-ratio: 1.45/1;
    }
}